.custom-container {
	width: 95% !important;
	max-width: 1800px !important;
}

.custom-card {
	width: 700px !important;
	height: 900px;
	cursor: pointer;
	overflow: hidden;
}

img {
	height: 600px;
}
.card-body {
	overflow: auto;
}