.rg-container {
	max-width: 1650px;
}

.row>* {
	padding-left: 0;
	padding-right: 0;
}

img {
	height: 400px;
	overflow: hidden;
	
}

.rg-card {
	height: 700px ;
	cursor: pointer;
	overflow: hidden;
}


.card-body {
	overflow: auto;
}